asgiref==3.7.0
attrs==22.2.0
autobahn==23.1.2
Automat==22.10.0
cachetools==5.2.0
certifi==2023.7.22
cffi==1.15.1
cfgv==3.3.1
channels==4.0.0
chardet==5.1.0
charset-normalizer==2.0.12
colorama==0.4.6
constantly==15.1.0
cryptography==42.0.5
daphne==4.0.0
distlib==0.3.6
Django==5.0.4
django-storages==1.13.2
djangorestframework==3.14.0
filelock==3.8.2
hyperlink==21.0.0
identify==2.5.11
idna==3.4
incremental==22.10.0
nodeenv==1.7.0
packaging==22.0
platformdirs==2.6.0
pluggy==1.0.0
pre-commit==3.4.0
psycopg2-binary==2.9.9
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyOpenSSL==24.1.0
pyproject_api==1.2.1
pytz==2023.2
PyYAML==6.0.1
requests==2.31.0
service-identity==21.1.0
six==1.16.0
sqlparse==0.5.0
toml==0.10.2
tomli==2.0.1
tox==4.0.16
Twisted==24.3.0
twisted-iocpsupport==1.0.4
txaio==23.1.1
typing_extensions==4.4.0
tzdata==2023.3
urllib3==2.2.1
virtualenv==20.17.1
zope.interface==5.5.2
