{% extends 'base.html' %}
{% block title %}
My events
{% endblock %}
{% block content %}
<div class="section">
    <div class="columns">
        <div class="column is-10">
            <div class="box">
                {% if exception %}
                    <p>{{ exception }}</p>
                {% endif %}
                <h2>My events:</h2>
                <ul>
                    {% for event in object_list %}
                        <li><span>
                                <a href="{% url 'event-detail' event.id %}">
                                    <span class="mr-1">{{event.friends}}:</span>
                                    <span>{{ event.name }}:</span>
                                    <span>{{ event.get_status_display }}</span>
                                </a>
                            </span>
                            <span>
                                <a href="{% url 'event-edit' event.id %}">|EDIT|</a>
                            </span>
                        </li>
                    {% endfor %}
                </ul>
                <a href="{% url 'event-create' %}">|NEW EVENT|</a>
                {% if friends_events %}
                    <hr class="navbar-divider">
                    <h2>Missing events:</h2>
                    <ul>
                        {% for event in friends_events %}
                            <li>
                                <span class="mr-1">{{event.friends}}:</span><span>{{ event.name }}</span>
                                <span><a href="{% url 'event-join' event.id %}">|JOIN|</a></span>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="column">
            {% include 'chat/chat.html' %}
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
    {% include 'chat/chat_scripts.html' %}
{% endblock %}
