option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: source.vpcoreproject.vpcoreproject.settings
    PYTHONPATH: /var/app/current/source/vpcoreproject:$PYTHONPATH

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: source.vpcoreproject.static

  aws:elasticbeanstalk:container:python:
    WSGIPath: source.vpcoreproject.vpcoreproject.wsgi:application

  aws:elbv2:listener:80:
    ListenerEnabled: 'true'
    Protocol: HTTP

  aws:elbv2:listener:5000:
    ListenerEnabled: 'true'
    Protocol: HTTP

container_commands:
  00_pip_upgrade:
    command: "source /var/app/venv/*/bin/activate && pip install --upgrade pip"
    ignoreErrors: false
  01_collectstatic:
    command: "source /var/app/venv/*/bin/activate
    && python3 var/app/current/source/vpcoreproject/manage.py collectstatic --noinput"
  02_migrate:
    command: "source /var/app/venv/*/bin/activate
    && python3 var/app/current/source/vpcoreproject/manage.py makemigrations users
    && python3 var/app/current/source/vpcoreproject/manage.py migrate --noinput"
    leader_only: true
  03_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
