{% extends 'base.html' %}
    {% load static %}
{% block scripts %}
    <script type='text/javascript' src="{% static 'scripts-register.js' %}"></script>
    <script type='text/javascript'>display_family = "{{ display_family | escapejs }}";</script>
{% endblock %}

{% block content %}
<div class="section">
	{% include 'users/user_form.html' with submit_text='Update' %}
	<div class="buttons">
        <p><a class="is-link" href="{% url 'password_reset' %}">Change password</a></p>
    </div>
</div>
{% endblock %}