{% extends 'base.html' %}

{% block content %}

<!--Register-->
<div class="section">
	    <div class="box">
			<form action="{% url 'register' %}" method="post">
				{% csrf_token %}
				{{ user_form }}
				{% if add_form %}
					{{ add_form }}
				{% else %}
				<div class="control">
					<a class="is-link" href="{% url 'register' %}?family=True">
						<button type="button" class="button is-small is-rounded">+</button><span class="ml-1">Family</span>
					</a>
				</div>
				{% endif %}
				<hr class="navbar-divider">
				<div class="control">
					<button type="submit" class="button is-small is-primary">Register</button>
				</div>
			</form>

			</div>
    <div class="buttons">
      <p class="mr-1">If you already have an account: </p> <a class="is-link" href="{% url 'login' %}">Login</a>
    </div>
</div>

{% endblock %}