option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: vpcoreproject.settings

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

  aws:elasticbeanstalk:container:python:
    WSGIPath: vpcoreproject.wsgi:application

  aws:elbv2:listener:80:
    ListenerEnabled: 'true'
    Protocol: HTTP

  aws:elbv2:listener:5000:
    ListenerEnabled: 'true'
    Protocol: HTTP
