container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate
    && python3 /var/app/current/source/vpcoreproject/manage.py makemigrations users
    && python3 /var/app/current/source/vpcoreproject/manage.py migrate --noinput"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: vpcoreproject.settings
