container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 /var/app/current/source/vpcoreproject/manage.py migrate"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    "PYTHONPATH": "/var/app/current/source/vpcoreproject"
    "ALLOWED_HOSTS": "vpcore-prod.eu-central-1.elasticbeanstalk.com"
    DJANGO_SETTINGS_MODULE: vpcoreproject.settings
