{% extends 'base.html' %}
{% block title %}
Find new friends group
{% endblock %}
{% block content %}
<div class="section">
    <div class="box">
        <form method="post">{% csrf_token %}
            <div class="field has-addons">
             <div class="control">
                <input class="input is-normal" type="text" placeholder="name of the searched friends group" name="phrase" value="{{phrase}}">
             </div>
             <div class="control">
                <button class="button is-info" type="submit">Search</button>
             </div>
            </div>
        </form>
        <h2>Found friends:</h2>
        <ul>
            {% for friends in object_list %}
                <li><a href="{% url 'create-join-request' friends.id %}">{{ friends.nickname }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
