<div class="box">
        <form>
            <div class="field">
                  <div class="control">
                <textarea class="textarea" id="chat-text" readonly rows="10">{{ chat_messages }}</textarea>
                      </div>
            </div>
            <div class="field">
                <input class="control" placeholder="New message" id="chat-input" type="text"></br>
            </div>
            <input class="button" id="chat-submit" type="button" value="Send">
        </form>
</div>
