{% extends 'base.html' %}
{% block title %}
Event details
{% endblock %}
{% block content %}
<div class="section">
    <div class="box">
        {% if exception %}
            <p>{{ exception }}</p>
        {% endif %}
        <h1 class="title">{{ object.name }}</h1>
        <h2>{{object.start}}-{{object.end}}</h2>
        <p>Status: {{ status_display }}</p>
        <hr class="navbar-divider">
        <a href="{% url 'event-place-propose' object.id %}">Propose new place</a>
        <hr class="navbar-divider">
        <a href="{% url 'events-list' %}"><</a>
    </div>
</div>

{% endblock %}