{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{% translate "Vacation Planner: Dashboard" %}
{% endblock %}
{% block content %}
<div class="section hero is-fullheight">
          {% if user.is_authenticated %}
            {% include 'users/dashboard_user.html' %}
                <div class="column">
            {% include 'chat/chat.html' %}
            </div>
          {% else %}
            <div class="is-flex-grow-1 is-flex is-flex-direction-column is-justify-content-center is-align-items-center pb-6">
                <a class="button p-6" href="{% url 'login' %}">{% translate "Log in" %}</a>
                <p class="mt-4 has-text-weight-light">{% translate "Please log in" %}</p>
            </div>
          {% endif %}
</div>
{% endblock %}
{% block scripts %}
    {% include 'chat/chat_scripts.html' %}
{% endblock %}
