{% extends 'base.html' %}
{% block title %}
My events
{% endblock %}
{% block content %}
<div class="section">
    <div class="box">
        {% if exception %}
            <p>{{ exception }}</p>
        {% endif %}
        <h2>My places:</h2>
        <ul>
            {% for place in object_list %}
            <li>
                <span><a href="{% url 'place' place.id %}">{{ place }}</a></span>
                <span><a href="{% url 'place-edit' place.id %}">EDIT</a></span>
                <a href="{% url 'place-delete' place.id %}">X</a>
            </li>
            {% endfor %}
        </ul>
        <p></p><a href="{% url 'place-create' %}">+</a></p>
        <p></p><a href="{% url 'place-scrap' %}">search web</a></p>
        <p></p><a href="{% url 'place-scrap-list' %}">old scraps</a></p>
    </div>
</div>

{% endblock %}
