{% extends 'base.html' %}

{% block title %}
Set a new password
{% endblock %}

{% block content %}

<div class="section">
    <div class="box">
        {% if validlink %}
          <h1>Set a new password</h1>
          <form method="POST">
            {% csrf_token %}
              <div class="field">
                  <label class="label">{{ form.new_password1.label_tag }}</label>
                  <div class="control">{{ form.new_password1 }}</div>
              </div>
              <div class="field">
                  <label class="label">{{ form.new_password2.label_tag }}</label>
                  <div class="control">{{ form.new_password2 }}</div>
              </div>
            <input type="submit" value="Change password">
          </form>
        </div>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
    {% endif %}
    <div class="buttons">
        <a class="is-link" href="{% url 'login' %}">Cancel</a>
    </div>
</div>


{% endblock %}